/* Establishing a default frame */
body {
	box-sizing: border-box;
    margin: 0;
    padding: 0 ;
	font-family: 'Raleway', sans-serif;
	color: black;
	background-color: white;
	max-width: 100%;
}

/* BACKGROUND-COLOR PART */
.popular, .footer {
	background-color: #F2F2F2;
}

a {
	text-decoration: none;
}

/* STARS PART */
.fas.fa-star {
	color: #0065FC;
}

.fas.fa-star.graystar {
	color: #D9D9D9;
}

/* HEADER PART */
.header li {
	list-style-type: none;
}

.header {
	width: 100%;
	padding-top: 20px;
}

.headerNav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
    
.logoHomePage {
	order: 1;
	padding-left: 20px;
	padding-bottom: 10px;
}
  
.logo {
	width: 100px;
	height: auto;
}
  
.headerNavLink {
	display: flex;
	order: 3;
	justify-content: space-between;
	padding-left: 0;
	width: 100%;
}
  
.register {
	order: 2;
	position: absolute;
	top: 40px;
	right: 10px;
	color: #0065fc;
	padding-right: 10px;
	font-weight: bold;
}
  
.headerNavLink a:hover {
	cursor: pointer;	
	transition-duration: 0.1s;
	color: #0065fc;
}
  
.headerNavLink1, .headerNavLink2 {
	border-bottom: #f2f2f2 3px solid;
	padding-bottom: 12px;
	width: 50%;
	text-align: center;
}
  
.headerNavLink1:hover, .headerNavLink2:hover {
	cursor: pointer;
	transition-duration: 0.1s;
	border-color: #0065fc;
}


/* SEARCH PART (CITY/COUNTRY) */
.hookIntro {
	padding-bottom: 20px;
}

.hookIntro h1 {
	margin-top: 15px;
}
  
.hookIntro p {
	margin-top: 15px;
}

/* Modif for the search bar */
.searchBar {
	position: relative;
	width: 100%;
	max-width: 375px;
	justify-content: center;
	align-items: center;
}

.searchBar .cityCountry {
	font-weight: bold;
}
  
.searchByUsingCity {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

/* Modif for the icon map marker */
.fa-map-marker-alt {
	position: absolute;
	display: flex;
	border-radius: 20px 0px 0px 20px;
	background-color: #f2f2f2;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
}
  
.fa-map-marker-alt::before {
	font-size: 1rem;
}

/* Modif for the input bar */
.cityCountry {
	border-radius: 20px;
	border: 1px solid #f2f2f2;
	font-size: 1rem;
	padding: 15px 0;
	padding-left: 13px;
	width: 100%;
	max-width: 100%;
}

.cityCountry::placeholder {
	color: #000000;
	text-align: center;
}
  
.btnSearch {
	position: absolute;
	right: 0px;
	border-radius: 20px;
	background: #0065fc;
	border: 1px solid #0065fc;
	padding: 1rem;
}

/* Modif for the icon search */
.fa-search {
	color: #ffffff;
}
  
.fa-search:before {
	font-size: 1rem;
}

/* To hide the word : Rechercher */
.hideSearch {
	display: none;
}


/* FILTERS PART */
.searchByUsingFilters {
	padding-left: 20px;
	padding-right: 20px;
}
  
.searchByUsingFilters h2 {
	font-size: 1rem;
	margin-top: 15px;
	margin-bottom: 15px;
}

.differentF {
	display: flex;
	flex-wrap: wrap;
}
  
.btnF {
	margin-bottom: 12px;
	margin-right: 10px;
}
  
/* Modif the icons of the btn filters */
.differentF i.fas {
	position: absolute;
	display: flex;
	/* 50% make it a circle */
	border-radius: 50%;
	border: 2px solid #deebff;
	background: #deebff;
	color: #0065fc;
	justify-content: center;
	align-items: center;
	padding: 13px;
	width: 20px;
	height: 20px;
}
  
.differentF i.fas::before {
	font-size: 1rem;
}
  
i.fas.fa-child::before {
	font-size: 1rem;
}
  /* input */
.filter {
	border-radius: 25px;
	border: 2px solid #D9D9D9;
	background-color: #ffffff;
	border-left: 0;
	font-size: 1rem;
	font-weight: bold;
	padding-left: 48px;
	height: 50px;
}
  
.filter:hover {
	cursor: pointer;
	transition-duration: 0.1s;
	font-size: 1rem;
}
  
.filter1, .btnF1 {
	width: 175px;
}
  
.filter2, .btnF2 {
	width: 135px;
}
  
.filter3, .btnF3 {
	width: 165px;
}
  
.filter4, .btnF4 {
	width: 220px;
}
  
.information {
	display: flex;
	flex-direction: row;
	padding: 10px 0 20px 0;
}
  
.fa-info {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #D9D9D9;
	background-color: #ffffff;
	color: #0065fc;
	margin-right: 10px;
	height: 21px;
	width: 21px;
}
  
  .fa-info:before {
	font-size: 12px;
}
  
  /* POPULAR PART */
.popular {
	padding-top: 15px;
	padding-bottom: 25px;
}

.popularTitleIcon {
	display: flex;
	justify-content: space-between;
	padding: 0 5vw;
}
  
.fa-chart-line:before {
	font-size: 24px;
}

.popularArticle {
	display: flex;
	border-radius: 20px;
	box-shadow: 0 0 20px #0303032e;
	background-color: white;
	transition-duration: 0.1s;
	cursor: pointer;
	margin: 0 auto 15px auto;
	padding: 5px;
	font-size: 1rem;
	width: 90vw;
	height: 150px;
}

.popularCard {
	width: 35vw;
	height: 150px;
}

.popularImg {
	width: 35vw;
	height: 100%;
	border-radius: 20px 0 0 20px;
	object-fit: cover;
}

.popularContent {
	display: flex;
	flex-direction: column;
	width: 55vw;
	padding-left: 10px;
}

.popularArticle .ranking {
	margin-top: auto;
}

.popularContent h3 {
	font-size: 1rem;
	margin-top: 7px;
	margin-bottom: 0;
}

.popularContent p {
	margin-top: 7px;
	margin-bottom: 0;
}

/* ACCOMMODATIONS PART */
.accommodations {
	padding-bottom: 40px;
}

.accommodationsArticle {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 16px #0303032e;
	transition-duration: 0.1s;
	cursor: pointer;
	padding: 5px;
	margin: 0 auto 15px auto;
	width: 90vw;
	height: 195px;
	font-size: 1rem;
}

.accommodationsCard {
	width: 90vw;
	height: 115px;
}

.accommodationsImg {
	width: 90vw;
	height: 100%;
	border-radius: 20px 20px 0 0; /* Top left-Top right-Bottom right-Bottom left */
	object-fit: cover;
}

.accommodationsContent {
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	height: 10vh;
	padding-left: 10px;
}

.accommodations h2 {
	padding: 0 5vw;
	margin-top: 40px;
}

.accommodations h3 {
	margin-top: 7px;
	margin-bottom: 0;
}

.accommodations p {
	margin-top: 7px;
	margin-bottom: 0;
}

.accommodations i {
	margin-top: 10px;
}

.showmore {
	font-weight: bold;
	padding-top: 20px;
	margin-left: 5vw;
}

/* ACTIVITIES PART */
.activities h2 {
	margin-left: 5vw;
}

.activitiesArticle {
	border-radius: 20px;
	box-shadow: 0 0 16px #0303032e;
	transition-duration: 0.1s;
	cursor: pointer;
	margin: 0 auto 15px auto;
	width: 90vw;
	height: 190px;
}

.activitiesCard {
	width: 90vw;
	height: 130px;
}

.activitiesImg {
	width: 90vw;
	height: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.activities {
	padding-bottom: 40px;
}

.activities h3 {
	font-size: 1rem;
	padding-top: 4px;
	padding-left: 20px;
	
}

/* FOOTER PART */
.footerLayout {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
}

.footer h3 {
	margin-top: 30px;
}
  
.footerPart {
	padding-left: 40px;
}
  
.footerLink {
	display: block;
	margin: 8px 0;
	color: black;
}
  
.footerLink:hover {
	color: blue;
}

/* RESPONSIVE PART */
@media only screen and (max-width: 280px) {
	.footerPart {
		padding-left: 20px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
	.afterHeaderNav {
		padding-left: 2vw;
	}

	.popularContainer {
		display: flex;
		flex-wrap: wrap;
		margin: 0 2.5vw;
	}

	.popularArticle {
		width: 42.5vw;
		margin: 0 auto 20px auto;
	}

	.popularCard {
		width: 20vw;
	}

	.popularImg {
		width: 20vw;
	}
	
	.popularContent {
		width: 22.5vw;
	}

	.accommodationsContainer {
		display: flex;
		flex-wrap: wrap;
		margin: 0 2.5vw;
	}

	.accommodationsArticle {
		width: 42.5vw;
		margin: 0 auto 20px auto;
	}

	.accommodationsCard {
		width: 42.5vw;
	}

	.accommodationsImg {
		width: 42.5vw;
	}
	
	.activitiesContainer {
		display: flex;
		flex-wrap: wrap;
		margin: 0 2.5vw;
	}

	.activitiesArticle {
		width: 42.5vw;
		margin: 0 auto 20px auto;
	}

	.activitiesCard {
		width: 42.5vw;
	}

	.activitiesImg {
		width: 42.5vw;
	}
	
}

@media only screen and (min-width: 1024px) and (max-width: 1800px) {
	.afterHeaderNav {
		padding-left: 2vw;
	}

	.btnSearch {
		color: white;
		border-radius: 0 20px 20px 0;
	}

	.hideSearch {
		display: contents;
	}

	.searchByUsingCity button i {
		display: none;
	}

	.cityCountry {
		padding-left: 60px;
	}

	.cityCountry::placeholder {
		text-align: left;
	}

	.accommodations {
		background-color: #F2F2F2;
	}

	.flexAccommodationsAside {
		display: flex;
		flex-direction: row-reverse;
		margin: 0 3vw;
	}

	.accommodations {
		border-radius: 20px;
		width: 60vw;
		margin-right: 4vw;
	}

	.popular {
		border-radius: 20px;
		width: 30vw;
	}

	/* Desktop modifications about article's size for popular content*/
	.popularTitleIcon {
		padding: 0 2vw;
	}

	.popularContainer {
		display: flex;
		flex-direction: column;
		margin: 0 1vw;
	}

	.popularArticle {
		width: 26vw;
		margin: 0 auto 25px auto;
	}

	.popularCard {
		width: 10vw;
	}

	.popularImg {
		width: 10vw;
	}
	
	.popularContent {
		width: 16vw;
	}

	.popularContent h3 {
		font-size: 0.87rem;
	}

	/* Desktop modifications about article's size for accommodations content*/
	.accommodations h2 {
		padding-left: 2vw;
	}

	.accommodationsContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 1vw;
	}

	.accommodationsArticle {
		width: 17vw;
		margin: 0 auto 25px auto;
	}

	.accommodationsCard {
		width: 17vw;
	}

	.accommodationsImg {
		width: 17vw;
	}

	.accommodationsContent {
		padding-left: 5px;
	}

	.accommodationsContent h3 {
		font-size: 0.87rem;
	}

	.showmore {
		margin-left: 2vw;
	}

	/* Desktop modifications about article's size for activities content*/
	.activities {
		margin: 40px 0;
		padding-bottom: 0px;
	}

	.activities h2 {
		margin-left: 4vw;
	}

	.activitiesContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: space-between;
		height: 50vh;
		margin: 0 2vw;
	}

	.activitiesArticle {
		width: 22vw;
		height: auto;
		margin: auto;
	}

	.activitiesCard {
		width: 22vw;
		height: auto;
	}

	.activitiesImg {
		width: 22vw;
	}	

	.activitiesContent {
		height: 5vh;
	}

	.activitiesContent h3 {
		font-size: 0.87rem;
}

	.activitiesImg1 {
		height: 40vh;
	}	

	.activitiesImg2 {
		height: 17vh;
	}	

	.activitiesImg3 {
		height: 13vh;
	}	

	.activitiesImg4 {
		height: 40vh;
	}	

	.activitiesImg5 {
		height: 13vh;
	}	

	.activitiesImg6 {
		height: 17vh;
	}	

	/* footer part */
	.footerLayout {
		display: flex;
		flex-direction: row;
	}

	.footerPart {
		width: 25vw;
		margin-right: 3vw;
	}
}



/*Breakin points concerns :
- <768px 
- 768 - 991px
- 992 - 1199px