/* Establishing a default frame */
body {
	box-sizing: border-box;
    margin: 0;
    padding: 0 ;
	font-family: 'Raleway', sans-serif;
	color: black;
	background-color: white;
	max-width: 100%;
}

/* BACKGROUND-COLOR PART */
.popular, .footer {
	background-color: #F2F2F2;
}

a {
	text-decoration: none;
}

/* STARS PART */
.fas.fa-star {
	color: #0065FC;
}

.fas.fa-star.graystar {
	color: #D9D9D9;
}

/* HEADER PART */
.header li {
	list-style-type: none;
}

.header {
	width: 100%;
	padding-top: 20px;
}

.headerNav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
    
.logoHomePage {
	order: 1;
	padding-left: 20px;
	padding-bottom: 10px;
}
  
.logo {
	width: 100px;
	height: auto;
}
  
.headerNavLink {
	display: flex;
	order: 3;
	justify-content: space-between;
	padding-left: 0;
	width: 100%;
}
  
.register {
	order: 2;
	position: absolute;
	top: 40px;
	right: 10px;
	color: #0065fc;
	padding-right: 10px;
	font-weight: bold;
}
  
.headerNavLink a:hover {
	cursor: pointer;	
	transition-duration: 0.1s;
	color: #0065fc;
}
  
.headerNavLink1, .headerNavLink2 {
	border-bottom: #f2f2f2 3px solid;
	padding-bottom: 12px;
	width: 50%;
	text-align: center;
}
  
.headerNavLink1:hover, .headerNavLink2:hover {
	cursor: pointer;
	transition-duration: 0.1s;
	border-color: #0065fc;
}


/* SEARCH PART (CITY/COUNTRY) */
.hookIntro {
	padding-right: 20px;
	padding-bottom: 20px;
}

.hookIntro h1 {
	margin-top: 15px;
}
  
.hookIntro p {
	margin-top: 15px;
}

/* Modif for the search bar */
.searchBar {
	position: relative;
	width: 100%;
	max-width: 375px;
	justify-content: center;
	align-items: center;
}

.searchBar .cityCountry {
	font-weight: bold;
}
  
.searchByUsingCity {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

/* Modif for the icon map marker */
.fa-map-marker-alt {
	position: absolute;
	display: flex;
	border-radius: 20px 0px 0px 20px;
	background-color: #f2f2f2;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
}
  
.fa-map-marker-alt::before {
	font-size: 1rem;
}

/* Modif for the input bar */
.cityCountry {
	border-radius: 20px;
	border: 1px solid #f2f2f2;
	font-size: 1rem;
	padding: 15px 0;
	padding-left: 13px;
	width: 100%;
	max-width: 100%;
}

.cityCountry::placeholder {
	color: #000000;
	text-align: center;
}
  
.btnSearch {
	position: absolute;
	right: 0px;
	border-radius: 20px;
	background: #0065fc;
	border: 1px solid #0065fc;
	padding: 1rem;
}

/* Modif for the icon search */
.fa-search {
	color: #ffffff;
}
  
.fa-search:before {
	font-size: 1rem;
}

/* To hide the word : Rechercher */
.hideSearch {
	display: none;
}


/* FILTERS PART */
.searchByUsingFilters {
	padding-left: 20px;
	padding-right: 20px;
}
  
.searchByUsingFilters h2 {
	font-size: 1rem;
	margin-top: 15px;
	margin-bottom: 15px;
}

.differentF {
	display: flex;
	flex-wrap: wrap;
}
  
.btnF {
	margin-bottom: 12px;
	margin-right: 10px;
}
  
/* Modif the icons of the btn filters */
.differentF i.fas {
	position: absolute;
	display: flex;
	/* 50% make it a circle */
	border-radius: 50%;
	border: 2px solid #deebff;
	background: #deebff;
	color: #0065fc;
	justify-content: center;
	align-items: center;
	padding: 13px;
	width: 20px;
	height: 20px;
}
  
.differentF i.fas::before {
	font-size: 1rem;
}
  
i.fas.fa-child::before {
	font-size: 1rem;
}
  /* input */
.filter {
	border-radius: 25px;
	border: 2px solid #D9D9D9;
	background-color: #ffffff;
	border-left: 0;
	font-size: 1rem;
	font-weight: bold;
	padding-left: 48px;
	height: 50px;
}
  
.filter:hover {
	cursor: pointer;
	transition-duration: 0.1s;
	font-size: 1rem;
}
  
.filter1, .btnF1 {
	width: 175px;
}
  
.filter2, .btnF2 {
	width: 135px;
}
  
.filter3, .btnF3 {
	width: 165px;
}
  
.filter4, .btnF4 {
	width: 220px;
}
  
.information {
	display: flex;
	flex-direction: row;
	padding: 10px 0 20px 0;
}
  
.fa-info {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #D9D9D9;
	background-color: #ffffff;
	color: #0065fc;
	margin-right: 10px;
	height: 21px;
	width: 21px;
}
  
  .fa-info:before {
	font-size: 12px;
}
  
  /* POPULAR PART */
.popular {
	padding-top: 15px;
	padding-bottom: 25px;
}

.popularTitleIcon {
	display: flex;
	justify-content: space-between;
	padding: 0 5vw;
}
  
.fa-chart-line:before {
	font-size: 24px;
}

.popularArticle {
	display: flex;
	border-radius: 20px;
	box-shadow: 0 0 20px #0303032e;
	background-color: white;
	transition-duration: 0.1s;
	cursor: pointer;
	margin: 0 auto 15px auto;
	padding: 5px;
	font-size: 1rem;
	width: 90vw;
	height: 130px;
}

.popularCard {
	width: 35vw;
	height: 130px;
}

.popularImg {
	width: 35vw;
	height: 100%;
	border-radius: 20px 0 0 20px;
}

.popularContent {
	width: 55vw;
	padding: 0 20px;
}

.popularContent h3 {
	font-size: 1rem;
	margin-top: 7px;
	margin-bottom: 0;
}

.popularContent p {
	margin-top: 7px;
	margin-bottom: 0;
}

.popularContent i {
	margin-top: 40px;
	margin-bottom: 0;
}

/* ACCOMMODATIONS PART */
.accommodations {
	padding-bottom: 40px;
}

.accommodationsArticle {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 16px #0303032e;
	transition-duration: 0.1s;
	cursor: pointer;
	padding: 5px;
	margin: 0 auto 15px auto;
	width: 90vw;
	height: 195px;
	font-size: 1rem;
}

.accommodationsCard {
	width: 35vw;
	height: 115px;
}

.accommodationsImg {
	width: 90vw;
	height: 100%;
	border-radius: 20px 20px 0 0; /* Top left-Top right-Bottom right-Bottom left */
}

.accommodationsContent {
	font-size: 0.9rem;
	height: 10vh;
	padding-left: 10px;
}

.accommodations h2 {
	padding: 0 5vw;
	margin-top: 40px;
}

.accommodations h3 {
	margin-top: 7px;
	margin-bottom: 0;
}

.accommodations p {
	margin-top: 7px;
	margin-bottom: 0;
}

.accommodations i {
	margin-top: 10px;
	margin-bottom: 0;
}

.showmore {
	font-weight: bold;
	padding-top: 20px;
	margin-left: 5vw;
}

/* ACTIVITIES PART */
.activities h2 {
	margin-left: 5vw;
}

.activitiesArticle {
	border-radius: 20px;
	box-shadow: 0 0 16px #0303032e;
	transition-duration: 0.1s;
	cursor: pointer;
	margin: 0 auto 15px auto;
	width: 90vw;
	height: 190px;
}

.activitiesCard {
	width: 90vw;
	height: 130px;
}

.activitiesImg {
	width: 90vw;
	height: 100%;
	border-radius: 20px 20px 0 0;
}

.activities {
	padding-bottom: 40px;
}

.activities h3 {
	font-size: 1rem;
	padding-top: 4px;
	padding-left: 20px;
	
}

/* FOOTER PART */
.footerLayout {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
}

.footer h3 {
	margin-top: 30px;
}
  
.footerPart {
	padding-left: 40px;
}
  
.footerLink {
	display: block;
	margin: 8px 0;
}
  
.footerLink:hover {
	text-decoration: underline;
}

/* RESPONSIVE PART */
@media (max-width: 280px) {
	.popularContent {
		padding-left: 10px;
	}

	.popularContent h3 {
		font-size: 0.92rem;
		margin-top: 6px;
	}

	.popularContent p {
		margin-top: 6px;
	}

	.popularContent i {
		margin-top: 28px; /* need to modify the 2nd one */
	}

	.footerPart {
		padding-left: 20px;
	}
}

@media (max-width: 320px) {
	.popularContent i {
		margin-top: 22px; 
	}








}
/* IMAGES PART 
.accommodationsImg {
	width: 235px;
	height: 110px;
	border-radius: 20px 20px 0 0; /* Top left-Top right-Bottom right-Bottom left */
}
/*
.popularImg {
	width: 130px;
	height: 140px;
	border-radius: 20px 0 0 20px;
}

.activitiesImg1 {
	width: 300px;
	height: 390px;
	border-radius: 20px 20px 0 0;
}

.activitiesImg2 {
	width: 300px;
	height: 170px;
	border-radius: 20px 20px 0 0;
}

.activitiesImg3 {
	width: 300px;
	height: 120px;
	border-radius: 20px 20px 0 0;
}

.activitiesImg4 {
	width: 300px;
	height: 390px;
	border-radius: 20px 20px 0 0;
}

.activitiesImg5 {
	width: 300px;
	height: 140px;
	border-radius: 20px 20px 0 0;
}

.activitiesImg6 {
	width: 300px;
	height: 150px;
	border-radius: 20px 20px 0 0;
}





/* ARTICLES PART 
.accommodationsArticle {
	width: 245px;
	background-color: white;
	padding: 5px;
	margin: 20px;
	border-radius: 20px;
	box-shadow: 0 0 16px #0303032e;
	transition-duration: 0.1s;
	cursor: pointer;
	font-size: 12px;
}

.accommodations h2 {
	margin-left: 30px;
}

.accommodations p .showmore {
	margin-left: 30px;
}

.accommodations h3 {
	margin: 5px 0 0 0;
}

.accommodations p {
	margin: 5px 0 0 0;
}

.accommodations h3, .accommodations p, .accommodations .bluestar {
	padding-left: 12px;
}

.popularArticle {
	width: 340px;
	background-color: white;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 0 0 16px #0303032e;
	transition-duration: 0.1s;
	cursor: pointer;
	font-size: 12px;
	display: flex;
	flex-direction: row;
}

.popularContent {
	padding-left: 12px;
}

.popular h3 {
	padding: 5px 0;
}

.popular p {
	padding: 0 0 10px 0;
}

.activitiesArticle {
	width: 300px;
	border-radius: 20px;
	box-shadow: 0 0 16px #0303032e;
	transition-duration: 0.1s;
	cursor: pointer;
}

.bluestar {
	margin: 5px 0 0 0;
}


/* SECTIONS & ASIDE 
.flexAccommodationsAside {
	display: flex;
	margin: 0 40px;
}

.accommodations {
	width: 900px; /* 1440*(2/3)=960-40-20=900 
	border-radius: 20px;
	margin-right: 20px;
}

.accommodationsAlignArticle {
	display: flex;
	flex-flow: row wrap; /* Combination of flex-direction & flex-wrap 
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
}

.popular {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 420px; /* 1440*(1/3)=480-20-40=420 
	height: auto;
	border-radius: 20px;
	margin-left: 20px;
}

.activities {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 60px 40px;
}


/* FOOTER PART 
.footerLayout {
	display: flex;
	margin: auto;
	padding: 0 2em;
  }
  
  .footerPart {
	width: 30%;
	padding: 2em 2em;
  }
  
  .footerLink {
	display: block;
	margin: 1em 0;
  }
  
  .footerLink:hover {
	text-decoration: underline;
  }*/
  



/*Breakin points concerns :
- <768px 
- 768 - 991px
- 992 - 1199px